:root {
  font-family: 'Montserrat', sans-serif;
  font-size: 14pt;
  line-height: 1.5;
}

body {
  margin: 30px;
}

header {
  position: fixed;
  z-index: 1;
  box-sizing: border-box;
  width: 100%;
  top: 0;
  left: 0;
  padding: 0 12px;
  display: flex;
  align-items: center;
  background: white;
  transition: box-shadow 0.25s;
}

.scrolled header {
  box-shadow: 0px 0px 12px 0px black;
}

header a {
  flex: 1;
}

header img {
  display: block;
  height: 30px;
  margin: 15px 0;
}

nav {
  color: #20817B;
}

header nav {
  display: none;
}

@media only screen and (min-width: 500px) {
  header nav {
    display: block;
  }

  footer nav {
    display: none;
  }
}

nav a {
  font-size: 0.75rem;
  font-weight: 500;
  text-decoration: none;
  color: #20817B;
}

nav a:hover {
  text-decoration: underline;
}

main {
  max-width: 800px;
  margin: 80px auto;
}

main.terms {
  counter-reset: section;
}

section {
  counter-increment: section;
}

h1 {
  font-size: 2rem;
  font-weight: 800;
  color: #27446A;
}

h2 {
  font-size: 1.4rem;
  color: #1C3557;
}

.terms h2:before {
  content: counter(section) ". ";
}

h3 {
  font-size: 1rem;
  color: #20817B;
  margin-bottom: 0.5ex;
}

aside {
  font-size: 0.8rem;
}

aside strong {
  color: #20817B;
}

ul, ol {
  margin: 0;
}

ol {
  counter-reset: list;
}

ol.continue {
  counter-reset: none;
}

ol > li {
  list-style: none;
  position: relative;
}

ol > li:before {
  counter-increment: list;
  content: "(" counter(list, lower-alpha) ") ";
  position: absolute;
  left: -2em;
}

dfn {
  font-weight: 600;
  font-style: normal;
}

span.conspicuous {
  font-weight: 500;
  background-color: #fddfb7;
  padding: 3px 0;
}

a.strong {
  font-weight: 600;
}